/* Styleguide Colors */
// Colour naming format is <base>-<property>. i.e. blue-primary, red-error, purple-secondary

// FIXME: Delete this, replace for better naming structure
$primary-color: #00a963;

// Greens
$green-primary: #00a963;
$green-secondary: #219653;
$green-tertiary: #008850;
$green-quaternary: #00bf6f;
$green-light: #33a073;
$green-lightest: #e5f3ed;

// Greys
$grey-primary: #e2e1df;
$grey-secondary: #ddd;
$grey-tertiary: #aaa;
$grey-quaternary: #716e6a;
$grey-quinary: #cfcdc9;
$grey-senary: #2e2e2e;
$grey-septenary: #f5f5f4;
$grey-octal: #777777;
$grey-peelian: rgba(255, 255, 255, 0.95);
$grey-octonary: #787479;
$grey-nonary: #4a4a4a;
$grey-denary: #979797;
$grey-undenary: #878e95;
$grey-duodenary: #4a4a4a;
$grey-tredecim: #e2e2e2;
$grey-zambezi: #5b5b5b;

// Stone
$warm-stone: #716e6a;
$grey-icon: rgba(0, 0, 0, 0.54);

// Blues
$blue-primary: #036497;
$light-blue: #00a3e1;

// Whites
$white: #ffffff;

// Reds
$red-error: #c72626;

// Oranges
$orange-accent: #e57c00;
$orange-banner: #fdf5db;
$orange-warning: #f68d2e;
$orange-mango-tango: #e57c00;

//Yellows
$simulation-yellow: #fbbc05;

// Components
$field-label: #2e2e2e;

// Shadows
$box-shadow-grey: rgba(207, 205, 201, 0.6);

// Registration Form
$disabled-input-text-color: #545454;
$disabled-background-color: #ebebe4;

$tooltip-color: #2e2e2e;

// OLD
$grey: #716e6a;
$dark-grey2: #333333;
$white: #ffffff;
$black: #000000;
$shadow: #00000033;

$notification-blue: #036497;

$hopbush: #c86ba8;
